.container{
    width: 80vw;
}
.inputContainer{
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: white;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -ms-border-radius:3px;
    -o-border-radius:3px;
    overflow: hidden;

}
.input{
    width:100%;
    border: none;
    outline: none;
    padding:6px 4px;
    font-size:15px
}
.input:focus{
    border: 2px solid green
}
.productsContainer{
    background-color:white;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -ms-border-radius:3px;
    -o-border-radius:3px;
    width: 100%;
    margin: 10px 0;
    transition: all 0.2s ease-in-out;
}
.product{
    width: 100%;
    padding: 6px 0;
    text-align:center;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}
.product:hover{
    background-color:#22c55e;
    color: white;
    cursor: pointer;

}
.hidden{
    display: none;
}


@media (min-width: 768px) {
    .container{
        width: 50vw;
    }
}